---
import { profile } from "../data/profile";
import SectionHeading from "./SectionHeading.astro";
import ExperienceItem from "./ExperienceItem.astro";
---

<section id="experience" class="mx-auto max-w-3xl px-6 py-24">
  <SectionHeading title="Experience" subtitle="20+ years building production systems" />
  <div class="relative space-y-8">
    <div class="timeline-line"></div>
    {profile.experience.map((exp) => <ExperienceItem item={exp} />)}
  </div>
</section>
